1 VERSIONINFO
FILEVERSION     0,4,0,0
PRODUCTVERSION  0,4,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "CompanyName", "Snqzs' PG"
			VALUE "FileDescription", "Wordle Aidle"
			VALUE "FileVersion", "0.4.0.0"
			VALUE "InternalName", "wordle_aidle"
			VALUE "LegalCopyright", "Snqzs' PG"
			VALUE "OriginalFilename", "waidle.exe"
			VALUE "ProductName", "Wordle Aidle"
			VALUE "ProductVersion", "snapshot-202205240340"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END
